.form-container {
    font-size: 0;
    margin-bottom: 24px;
}
.form-container .inner-box {
    min-height: 120px;
    padding: 24px;
    background-color: #fff;
}
.form-container .ant-form {
    text-align: left;
    padding: 0 24px;
}