.main-container {
	position: relative;
	margin: 10px 0;
	padding: 24px;
	background-color: #e4e4e4;
	min-height: 300px;
	border: 1px dashed #1890ff;
	overflow: hidden;
}
.ant-form:after {
	content: '';
	display: table;
	clear: both;
}