.form-drop-container {
    position: relative;
    display: inline-block;
    min-height: 42px;
    outline: 1px dashed #c7c8ca;
    text-align: center;
}
.form-drop-container>div {
    width: 100%;
}
.form-drop-container:hover {
    border-color: #1890ff;
}
.form-drop-container:hover>.icon-operation {
    display: block;
}
.container .form-drop-container>.icon-operation {
    right: 0;
    top: 0;
    display: none;
}